@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
}

.app {
  background-color: #000;
  border-radius: 12px;
  color: #fff;
  margin-top: 100px;
  padding: 40px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.first-section {
  display: flex;
  margin-bottom: 40px;
}

.first-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section img {
  height: 200px;
  width: 200px;
  transition: all 0.2s ease-in-out;
}

.first-section img:hover {
  transform: rotate(90deg);
}

.second-section {
  display: flex;
  justify-content: center;
}

.second-section button {
  background-color: red;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  cursor: pointer;
}
